/* //CSS Style Sheet */
/* Load the Font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

:root{
    --primary-color: #047aed;
}



/* Reset The Margin and Padding so that you can align as per your requirements */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lato',sans-serif;
    color: #333;
    line-height: 1.6;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #333;
}

h1,h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p{
    margin: 10px 0;
}

img{
    width: 100%;
}

/* Navbar Styles */

.navbar{
    background-color: var(--primary-color);
    color: #fff;               /* Larota - Color of the text */
    height: 70px;
}

/* To make the UL items horizontal instead of vertical */
.navbar ul{
    display: flex;
}

/* Links inside the UL i.e. anchor links */
.navbar a{
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

/* Hover Effect on the Links*/
.navbar a:hover{
    border-bottom: 2px #fff solid;
}


/* DID NOT Understand This */
/* As per  the explanation it is done due to space-between provided i the .flex and it is set to Center otherwise, the .flex should have justify-content: center */
.navbar .flex{
    justify-content: space-between;         
}
/* DID NOT Understand This */


/* Showcase */
.showcase{
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;             /*so we can position any elements Absolute within so we can*/
}

.showcase h1{
    font-size: 40px;
}

.showcase p{
    margin: 20px 0;
}

.showcase .grid{
    overflow: visible;
    grid-template-columns: 55% 45%;     /*Providing Spacing for the First and Second Grid */
    gap: 30px;
}

.showcase-form{
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;

    /*FORGOT TO SHOW IN THE VIDEO BUT WAS HIGHLIGHTED WHILE RENDERING*/
    justify-self: flex-end;     
}



/* Utilities - Classes that we use all around the website */
.container{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex{
    display: flex;
   /* flex-direction: column; NOT NEEDED, JUST A POSSIBILTY*/
   justify-content: center;
   align-items: center;
   height: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);   /*300px or 1fr or I could use 1 fr repeat on the first grid  =  "showcase-text" and 200px on the second grid = "showcase-form card" */
    gap: 20px;  /* Grid gaps that is the gap between the grids */
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card{
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    /*Box Shadow - horizontal_offset vertical_offset Blur color_rgba)*/
    padding: 20px;
    margin: 10px;
}

